database/__pycache__/db_credentials.cpython-39.pyc
lib/__init__.py
lib/__pycache__/__init__.cpython-39.pyc
lib/__pycache__/credentials.cpython-39.pyc
.vscode/settings.json
userdata/db_credentials.json
database/__pycache__/__init__.cpython-39.pyc
database/__pycache__/db_actions.cpython-39.pyc
database/__pycache__/db_connect.cpython-39.pyc
database/__pycache__/db_creation.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_credentials.cpython-39.pyc
tests/__pycache__/test_db_actions.cpython-39.pyc
tests/__pycache__/test_db.cpython-39.pyc
tests/__pycache__/test_dbactions.cpython-39.pyc
database/__pycache__/db_actions_books.cpython-39.pyc
database/__pycache__/db_actions_general.cpython-39.pyc
tests/__pycache__/test_books.cpython-39.pyc
__pycache__/books.cpython-39.pyc
database/__pycache__/db_actions_bookread.cpython-39.pyc
userdata/__pycache__/credentials_reader.cpython-39.pyc
data_processing/__pycache__/books.cpython-39.pyc
data_processing/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_datareader.cpython-39.pyc
userdata/__pycache__/booksinfo_reader.cpython-39.pyc
